{% include 'index.html' %}
{% block content%}
<nav class="font navbar navbar-expand-lg navbar-light " style="background-color: #D4C0AB; margin-bottom: 1.2em;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <a class="nav-link active px-3"  href="{% url 'order' %}">สินค้าทั้งหมด</a>
        <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase px-3 dropdown-toggle"
          href="" data-toggle="dropdown">กาแฟ</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/category/coffeehot">ร้อน</a>
            <a class="dropdown-item" href="/category/coffeeice">เย็น</a>
            <a class="dropdown-item" href="/category/coffeefrappe">ปั่น</a>
          </div>
          <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase px-3 dropdown-toggle"
            href="" data-toggle="dropdown">ชา</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/category/teahot">ร้อน</a>
              <a class="dropdown-item" href="/category/teaice">เย็น</a>
              <a class="dropdown-item" href="/category/teafrappe">ปั่น</a>
            </div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase px-3 dropdown-toggle"
            href="" data-toggle="dropdown">นม</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/category/milkhot">ร้อน</a>
              <a class="dropdown-item" href="/category/milkice">เย็น</a>
              <a class="dropdown-item" href="/category/milkfrappe">ปั่น</a>
            </div>
          </li>
        </li>
      </ul>
    </div>
    <form class="form-inline me-1" action="{% url 'search' %}", method="GET">
      <div class="input-group mx-3">
        <input type="text" name="title" class="form-control" placeholder="ค้นหาสินค้า">
        <div class="input-group-append">
          <button type="submit" class="btn btn-dark"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-2">
        <a class="nav-link text-dark text-uppercase font-weight-bold" href="/cartdetail">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg>
        </a>
      </li>
      <li class="nav-item dropdown"><a class="nav-link text-dark text-uppercase font-weight-bold px-3 dropdown-toggle"
        href="" data-toggle="dropdown">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
      </a>
        <div class="dropdown-menu text-center" style="margin-left:-100px;">
          <h class="nav-link active" style="color: rgb(126, 126, 126);" href="">{{request.user.username}}</h>
          <a class="nav-link active" href="{%url 'orderHistory'%}">คำสั่งซื้อ</a>
          <a class="nav-link active" href="/logout">logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock%}