{% include 'navbar.html' %}
{% load static %}
{% load humanize %}
{% block content%}
<div class="container my-2">
        <h2 align="center">ประวัติการสั่งซื้อ</h2>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td >วันสั่งซื้อ</td>
                        <td >ยอดชำระเงิน</td>
                        <td class="text-end">ดูรายการสินค้า</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in orders%}
                    <tr>
                        <td class="cart_quantity">
                                <p>{{item.created}}</p>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">{{item.total|intcomma}}</p>
                        </td>
                        <td class="cart_total">
                            <div class="d-grid justify-content-md-end">
                                <a  href="{% url 'orderDetails' item.id %}" class="btn btn-success">รายละเอียด</a>
                            </div>
                            
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}